Repository Acode-Foundation/Acode, pull requests merged in 2025-09, with the labels that each got.

#1572 revert: sidebar/style.scss changes to fix collapse folders
  src/components/sidebar/style.scss
  src/sidebarApps/files/index.js
Labels: bug

#1577 fix(i18n): fix typo in ./src/lang/id-id.json
  src/lang/id-id.json
Labels: enhancement, community

#1595 Fix: ED25519 SSH keys not working
  build-extras.gradle
  package-lock.json
  package.json
  src/plugins/sftp/plugin.xml
  src/plugins/sftp/src/com/foxdebug/sftp/Sftp.java
Labels: enhancement
